<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<h1>Welcome to Comic Book</h1>
<table>
    <caption></caption>
    <tbody>
        <th:block th:each="profile : ${profiles}">
            <tr>
                <td><img height="100" width="100" th:src="@{'/image/' + ${profile.id}}"></td>
            </tr>
            <tr>
                <td><h2 th:text="${profile.name}"></h2></td>
            </tr>
        </th:block>
    </tbody>
</table>
</body>
</html>