<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div id="page">
    <div id="header">
        Welcome to Comic Book
    </div>
    <div id="content">
        <tr th:each="profile : ${profiles}">
            <div class="thumbnail">
                <img class="photo" th:src="@{'/image/' + ${profile.id}}"/>
                <div class="caption" th:text="${profile.name}"/>
            </div>
        </tr>
    </div>
    <div id="pagination">
        Reserved for pagination
    </div>
</div>
</body>
</html>