<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link th:href="@{/styles/profile.css}" rel="stylesheet"/>
</head>
<body>
<div id="canvas">
    <div id="header" th:text="${object.name}"/>
    <div id="content">
        <div id="left-panel">
            <img id="photo" th:src="@{'../image/' + ${object.callsign}}">
            <table>
                <tr>
                    <th>Alias</th>
                    <td th:text="${object.alias}"></td>
                </tr>
                <tr>
                    <th>Debut in</th>
                    <td th:text="${object.alias}"></td>
                </tr>
                <tr>
                    <th>Debut on</th>
                    <td th:text="${object.alias}"></td>
                </tr>
                <tr>
                    <th>Home</th>
                    <td th:text="${object.alias}"></td>
                </tr>
            </table>
        </div>
        <div id="right-panel">

        </div>
    </div>
</div>
</body>
</html>