<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link th:href="@{/styles/profile.css}" rel="stylesheet"/>
</head>
<body>
<div class="canvas">
    <div class="header">
        name
    </div>
    <div class="content">
        <div class="left-panel">
            <img class="photo" th:src="">
            <div class="alias"/>
            <div>
                <span class="label"></span>
                <span class="value"></span>
            </div>
            <div>
                <span class="label"></span>
                <span class="value"></span>
            </div>
        </div>
        <div class="right-panel">

        </div>
    </div>
</div>
</body>
</html>