html,body
{max-height: 600px; max-width: 1200px; margin: auto;}
#page
{height: 600px; width: 1200px; background-color: black; display: flex; flex-direction: column; flex-wrap: wrap;}
#header
{height: 70px; width: 1200px; background-color: grey; font-size: 45px; vertical-align: top; text-align: center;}
#pagination
{height: 30px; width: 1200px; background-color: grey; font-size: 20px; vertical-align: bottom; text-align: center;}
#content
{height: 500px; width: 1200px; background-color: green; display: flex; flex-direction: row; flex-wrap: wrap;}
.thumbnail
{height: 250px; width: 150px; background-color: yellow; display: flex; flex-direction: column; flex-wrap: nowrap;}
.photo
{height: 200px; width: 150px; background-color: blue;}
.caption
{height: 50px; width: 150px;background-color: orange; font-size: 16px; text-align: center;}
