html,body
{max-height: 600px; max-width: 1200px; margin: auto;}
.canvas
{height: 600px; width: 1200px; background-color:black; color: white; display: flex; flex-direction: column; flex-wrap: wrap;}
.header
{height: 70px; width: 1200px; font-size: 45px; vertical-align: top; text-align: center;}
.content
{height: 490px; width: 1190px; padding: 5px; display: flex; flex-direction: row; flex-wrap: wrap;}